<div class="container">
    <div class="card">

        <h1>Compose Mail</h1>

        <mat-form-field class="field" appearance="outline">
            <mat-label>To</mat-label>
            <input matInput>
          </mat-form-field>

        <mat-form-field class="field" appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="field"  appearance="outline">
            <mat-label>Enter Your Message</mat-label>
            <textarea rows="11" matInput placeholder="Hello,"></textarea>
          </mat-form-field>
    </div>
</div>